<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Anemia Falciforme</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container learn-content">
        <h2>Anemia Falciforme</h2>
        <p>A Anemia Falciforme é uma doença hereditária caracterizada pela presença da Hemoglobina S (HbS), que causa deformação das hemácias em formato de foice em situações de baixo oxigênio. Essa deformação dificulta a passagem de oxigênio para os tecidos e provoca quadros de anemia e dores intensas nos pacientes.</p>
        <button onclick="location.href='/aprenda'" class="button">Voltar</button>
    </div>
</body>
</html>
