<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Anemia Falciforme</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container learn-content">
        <h2>Anemia Falciforme</h2>
        <p>
            A Anemia Falciforme (AF) é uma doença hemolítica de caráter autossômico recessivo, presente em indivíduos
            homozigóticos para Hemoglobina S (HbS). É originada por uma mutação na posição 6 da extremidade N - terminal
            do cromossomo 11, onde ocorre a substituição de um aminoácido ácido glutâmico pelo aminoácido valina. A HbS
            é responsável pela polimerização dos eritrócitos em condições de falta de oxigênio, fazendo com que esses
            assumam o formato de foice. Esses polímeros podem lesar a estrutura da membrana da hemácia, causando
            hemólise. A diminuição do número de eritrócitos pela hemólise associada à alta destruição das hemácias pelo
            baço leva ao quadro de anemia comum em pacientes falciformes.
        </p>
        <button onclick="location.href='/aprenda'" class="button">Voltar</button>
    </div>
</body>

</html>