<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Aprenda - Biologia</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Aprenda sobre as Doenças</h1>
        <button onclick="location.href='/anemia'" class="learn-button">Anemia Falciforme</button>
        <button onclick="location.href='/fenilcetonuria'" class="learn-button">Fenilcetonúria</button>
        <button onclick="location.href='/fibrose-cistica'" class="learn-button">Fibrose Cística</button>
        <button onclick="location.href='/'" class="button">Voltar</button>
    </div>
</body>
</html>
