<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Síndrome de Down</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container learn-content">
        <h2>Síndrome de Down</h2>
        <p>A Síndrome de Down é uma condição genética causada pela trissomia do cromossomo 21, que resulta em três cópias deste cromossomo. Essa condição, mais comum em indivíduos do sexo masculino e associada à idade materna avançada, é a principal causa genética de atraso no desenvolvimento cognitivo.</p>
        <button onclick="location.href='/aprenda'" class="button">Voltar</button>
    </div>
</body>
</html>
