<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Fenilcetonúria</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container learn-content">
        <h2>Fenilcetonúria</h2>
        <p>A Fenilcetonúria é um distúrbio genético no qual o corpo não consegue metabolizar o aminoácido fenilalanina, causando seu acúmulo no organismo. Esse acúmulo pode levar a problemas graves no desenvolvimento cerebral se a doença não for tratada precocemente.</p>
        <button onclick="location.href='/aprenda'" class="button">Voltar</button>
    </div>
</body>
</html>
