<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Fenilcetonúria</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container learn-content">
        <h2>Fenilcetonúria</h2>
        <p>É decorrente de uma falha na enzima fenilalanina-hidroxilase (PAH), que converte a fenilalanina em tirosina,
            aminoácido importante na produção de neurotransmissores. A não conversão da fenilalanina em tirosina pela
            enzima fenilalanina-hidroxilase causa acumulo da fenilalanina, o que pode levar a danos neurológicos
            irreversíveis.</p>
        <button onclick="location.href='/aprenda'" class="button">Voltar</button>
    </div>
</body>

</html>