<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Fibrose Cística</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container learn-content">
        <h2>Fibrose Cística</h2>
        <p>É uma doença de herança autossômica recessiva causada pela mutação no gene do Regulador da Condutância
            Transmembrana da Fibrose Cística (CFTR) localizado no cromossomo 7, que induz o organismo a produzir
            secreções espessas e viscosas 246 que obstruem os pulmões, o pâncreas e o ducto biliar. </p>
        <button onclick="location.href='/aprenda'" class="button">Voltar</button>
    </div>
</body>

</html>