<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Fibrose Cística</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container learn-content">
        <h2>Fibrose Cística</h2>
        <p>A Fibrose Cística é uma doença genética caracterizada pela produção de um muco espesso que se acumula nos pulmões e no sistema digestivo. Esse muco dificulta a respiração e a digestão dos alimentos, afetando a qualidade de vida dos pacientes.</p>
        <button onclick="location.href='/aprenda'" class="button">Voltar</button>
    </div>
</body>
</html>
